html, body{
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI';
}
div.bor {
    border: 1px solid black;
}
.colright{
    width: 160px;
    height: 600px;
}
.setad{
    width: 160px;
    float: right;
}
ay{
    width: 100%;
}
colleft{
    width: auto;
}
footer{
    height: 100px;
}